// couleurs 
$priamry-color: #8ecae6;
$secondary-color: #fb8500;
$warning-color: #ffbe0b;
$danger-color: #ff006e;
$text-color: #000;
$color1: #2a9d8f;
$color2: #e5e5e5;
$color3: #3a0ca3;


//Polices
$font-family-main: 'Arial', sans-serif;

// Tailles
$font-size: 18px;
$line-height:1.5;

//Marges 
$margin-small: 5px;
$margin-medium: 10px;
$margin-large: 20px;

// paddings 
$padding-small: 5px;
$padding-medium: 10px;
$padding-large: 20px;

// Médias queries "Breakpoints"
$mobile-breakpoint: 768px;
$tablet-breakpoint: 1024px;
$desktop-breakpoint: 1200px;

// Z-index 
$z-index-1000: 1000;
$z-index-500: 500;
$z-index-10: 200;